
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
	</script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
	</script>

</head>

<nav class="navbar navbar-dark bg-dark">
	
	<h2> <a href ="/">Dikshant's Blog </a></h2>
	<p class="text-white bg-dark"> This is my blog and I have written {% total_posts %} blogs till now! </p>


	<!-- Search --> 
	<form class="form-inline" method = "GET" action = "{% url 'blog:search' %}" id = "searchform">
		<input class="form-control mr-sm-2" type="search" placeholder="Search...." name = 'q' aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>

	<!-- Search up to here -->


</nav>
<br>

<div class="float-left">
<h3>Latest posts</h3>
	{% show_latest_posts 3 %}
<hr>
<h3>Most Commented Posts </h3>

	{% get_most_commented_posts as most_commented_posts %}
	<ul>
	{% for post in most_commented_posts %}
		<li>
		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>  {{post.comments.count}} comments
		</li>
	{% endfor %}
	</ul>
</div>

<body>
	
	<div class="mx-auto" style="width: 800px;">
		{% block content %}
		{% endblock %}

	</div>
	
</body>


<!-- This is where the footer begins -->
<hr>

<footer>
	<div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
		<div class="navbar-text pull-left">  <a href="https://facebook.com/dikshantghimire">  My Facebook &nbsp;</a>
		</div>
		<div class= "navbar-text pull-right">
			<!-- Add in your social media / github links here -->
			<a href="https://github.com/dikshantgh"> My Github &nbsp;
				<i class="fa fa-github-square fa-2x"></i></a>
			</div>
			<!--Below is the copyright information for the site. You can fill in your own here.-->
			<div class="navbar-text pull-left">
				&copy; Dikshant Ghimire, 2019
			</div>
		</div>	
	</footer>

</html